---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
  <!-- {{ site.phones | inspect }} -->
  <main class="content {%if page.url == '/'%} no-padding {%endif%}">
		<!-- <section class="intro"> -->
		<!-- 	<div class="container"> -->
		<!-- 		<h2>About me.</h2> -->
		<!-- 		<p>{{ site.description }}</p> -->
		<!-- 	</div> -->
		<!-- </section> -->
		<section class="phones">
			<div class="container">
				<h2>Phones</h2>
				<ul class="phones-list">
					{% for item in site.phones reversed %}
          <!-- {{ item['Thumbnail image'] | inspect }} -->
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">

									{% if item['Is in stock'] %}

										{% if item['Is in sale'] %}
											<div class="corner-ribbon">SALE</div>
										{% endif %}

										{% if item.price %}
											<div class="corner-ribbon price">
												<span class="new">{{ item.price }} ლარი</span>
												{% if item['Is in sale'] %}
													<span class="old">{{ item['old price'] }} ლარი</span>
												{% endif %}
											</div>
										{% endif %}
									{% else %}
										<div class="corner-ribbon red">Out of Stock</div>
									{% endif %}

									<img src="{{ item['Thumbnail image'] | prepend: site.baseurl }}" alt="{{ item.title }}" />
								</div>
								<span class="h2">{{ item.Brand }}</span>
								<h3>{{ item.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
