.container {
	display: block;
	margin: 0 auto;
	max-width: 70em;
	padding: 0 3rem;
	@include clearfix;
}

.header {
	background: $color-white;
	padding: 3rem 0;
}

.logo {
	float: left;
	font-size: 1.8rem;
	font-weight: 600;
	margin: 0;
	line-height: 1;
	a {
		font-size: 1.2em;
		font-weight: lighter;
		letter-spacing: 2px;
	}
}

.nav {
	float: right;

	a {
		@extend .logo;
	}
}

.content {
	background: $color-white;
	padding: 7rem 0 0;
	margin-bottom: 31.24rem;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;

	@media (min-width: $breakpoint-medium) {
		padding: 21rem 0 0;
		margin-bottom: 23.42rem;
	}
}

.intro,
.phones {
	padding: 0 0 5rem;
}

.intro {
	@media (min-width: $breakpoint-medium) {
		p {
			font-size: 2.7rem;
			max-width: 66.66666%;
		}
	}
}

.phones-list {
	@media (min-width: $breakpoint-small) {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		@include clearfix;

		li {
			float: left;
			width: 50%;
		}

		a {
			padding: 0 1.5rem;
		}
	}

	@media (min-width: $breakpoint-medium) {
		li {
			width: 33.33333%;
		}
	}

	li {
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		display: block;

		&:hover {
			.img-wrapper {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: .45;
				}
			}
		}
	}

	.img-wrapper {
    position: relative;
		overflow: hidden;
		height: $phone-height;
		border-bottom: 1px solid $color-alabaster;

		&:before {
			content: "View Phone";
			color: $color-white;
			@extend .h2;
			font-weight: 800;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -.5rem;
			margin-left: -4.4rem;
			opacity: 0;
			transition: all .2s ease;
			z-index: 2;
		}

		&:after {
			background: #000;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			-webkit-transition: all .5s ease-in-out;
    		transition: all .5s ease-in-out;
    		z-index: 1;
		}
	}

	img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
	}

	span {
		margin: 1rem 0 .5rem;
	}
}

.phone {
	left: 0;
	position: relative;
	top: 0;
  margin: 0 auto;
	max-width: 70em;
	z-index: 1;

	@media (min-width: $breakpoint-medium) {
		margin-top: -21rem;

		.article-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.container {
		max-width: 100%;
	}

	article {
		margin-bottom: 3rem;

		@media (min-width: $breakpoint-medium) {
			float: right;
			right: 0;
			width: 40%;
			// position: absolute;
			right: 5%;
		}
	}

	aside {
		margin-left: -3rem;
		margin-right: -3rem;
		margin-bottom: 3rem;

		@media (min-width: $breakpoint-small) {
			@include clearfix;
		}

		@media (min-width: $breakpoint-medium) {
			float: left;
			width: 55%;
		}
	}

	.phone-meta {
		margin: 3rem 0 0;

		@media (min-width: $breakpoint-medium) {
			margin: 5rem 0 0;
			max-width: 70%;
		}
	}

	.h2 {
		margin: 1rem 0 .5rem;

		&:first-of-type {
			margin-top: 0;
		}
	}

	h1 {
		a {
			text-decoration: underline;
		}
	}

	li {
		margin-bottom: 0rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		max-width: 100%;
		max-height: $phone-height;
		margin: 0 auto;
	}
}

.phone-navigation {
	background: $color-black;
	padding: 5rem 0;
	z-index: 5;
	a {
		color: $color-white;
		display: inline-block;

		&:hover {
			h2:after {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}

			&.prev {
				span {
					left: 7px;
				}
			}

			span {
				&:after {
					left: 7px;
				}

				&:before {
					left: -7px;
				}
			}
		}

		&:nth-of-type(1),
		&:nth-of-type(2) {
			display: table;
			margin: 0 auto;
			text-align: center;

			@media (min-width: $breakpoint-xsmall) {
				display: inline-block;
				margin: 0;
				text-align: left;
			}
		}

		&:nth-of-type(1) {
			@media (min-width: $breakpoint-xsmall) {
				float: left;
			}
		}

		&:nth-of-type(2) {
			margin-top: 3rem;

			@media (min-width: $breakpoint-xsmall) {
				float: right;
				margin-top: 0;
			}
		}

		&.next {
			span {
				&:after {
					content: "\02192";
				}
			}
		}

		&.prev {
			span {
				position: relative;
				left: 0;
				-webkit-transition: all .3s ease-in-out 0s;
				transition: all .3s ease-in-out 0s;

				&:before {
					content: "\02190";
				}
			}
		}
	}

	span {
		&:after,
		&:before {
			position: relative;
			left: 0;
			-webkit-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s;
		}
	}

	h2 {
		display: inline-block;
		font-size: 1.8rem;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -4px;
			left: 0;
			background-color: $color-white;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s;
		}
	}
}

.footer {
	background: $color-alabaster;
	bottom: 0;
	left: 0;
	padding: 5rem 0;
	position: fixed;
	right: 0;
	z-index: -1;
	min-height: 31.24rem;
	box-sizing: border-box;
	@media (min-width: $breakpoint-medium) {
		min-height: 23.42rem;
	}
}

.contact,
.follow {
	@media (min-width: $breakpoint-medium) {
		float: left;
		margin-bottom: 0;
		width: 33.33333%;
	}
}

.contact,
.follow {
	margin-bottom: 3rem;
}

.no-padding {
  padding: 0;
}

.corner-ribbon {
  width: 180px;
  background: $color-green;
  position: absolute;
  top: 30px;
  left: -40px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  text-transform: uppercase;
	font-size: 1.4rem;
	z-index: 1;
  &.red {
    background: $color-red;
  }

  &.right {
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
  }

  &.price {
    transform: rotate(0deg);
    bottom: 10px;
    left: 0;
    top: auto;
    width: auto;
    max-width: 200px;
    display: flex;
    // justify-content: space-between;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    & .old {
      text-decoration: line-through;
      font-size: 0.9em;
    }

    & .new {
      margin-right: 10px;
    }

  }
} 

.categories {
	display: flex;
	justify-content: center;
	width: 100%;
	& li {
		margin: 0 5px;	
		a {
			text-transform: capitalize;
			color: $color-grey;
			padding: 5px 10px;
			display: block;
			position: relative;
			transition: all 0.2s ease;
			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 2px;
				left: 51%;
				right: 51%;
				bottom: 0;
				background: $color-purple;
				transition: all 0.2s ease;
			}
			&:hover,
			&.active {
				color: $color-grey-darker;
				&:after {
					left: 0;
					right: 0;
				}
			}
		}
	}
}

.hidden {
	display: none;
}