/* Fonts
 ****************************************************************/

$font-default: Helvetica, Arial, sans-serif;
$font-poppins: 'Poppins', $font-default;
$font-lekton: 'Lekton', $font-default;

/* Colors
 ****************************************************************/

$color-white: #fff;
$color-black: #000;
$color-silver-chalice: #aaa;
$color-grey: #8f8f8f;
$color-grey-darker: #75715e;
$color-alabaster: #fafafa;
$color-tango: #f46f25;
$color-green: #5D9D21;
$color-purple: #A22C82;
$color-red: #e43;
$color-menu-red: #E43548;
$color-white-sand: #f6f6f6;


/* Phone
 ****************************************************************/
$phone-height: 350px;

/* Breakpoint
 ****************************************************************/

$breakpoint-xsmall: 400px;
$breakpoint-small: 550px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1200px;