<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ page.project.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
    {% include header.html %}

    <main class="content no-padding">
        <section class="intro">
            <div class="container">
                <h2>{{ page.title }}</h2>
                <p>{{ page.content | markdownify }}</p>
                {% if page.url == '/contact/' and site['enable map'] %}
                    <div id="map" data-lat="{{ site.lat }}" data-lng="{{ site.lng }}"></div>
                {% elsif page['map image'] %}
                    <div id="map">
                        <img src="{{ page['map image'] | prepend: site.baseurl }}"/>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
    {% if page.url == '/contact/' and site['enable map'] %}
    <script>
        function initMap() {
            var mapElem = document.getElementById('map');
            var lat = parseFloat(mapElem.dataset.lat);
            var lng = parseFloat(mapElem.dataset.lng);
            var mobilon = {lat: lat, lng: lng};

            var map = new google.maps.Map(mapElem, 
                {
                    zoom: 18,
                    center: mobilon,
                    disableDefaultUI: true
                }
            );

            var marker = new google.maps.Marker({position: mobilon, map: map});
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site['google api'] }}&callback=initMap"> </script>
    {% endif %}
    <script src="{{ "/assets/scripts/page.js" | prepend: site.baseurl }}"></script>
    {% include footer.html %}
</body>
</html>
