<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }} / {{ page.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content single-phone">
		<section class="phone">
			<div class="container">
				<a title="მთავარი" href="{{ site.baseurl | append: "/" }}" class="prev">
					<span class="h2 back"></span>
				</a>
				<aside>
					<ul>
						<li>
							<img src="{{ page['Thumbnail image'] | prepend: site.baseurl }}"/>
						</li>
						{% for image in page.images %}
							<li>
								<img src="{{ image | prepend: site.baseurl }}"/>
							</li>
						{% endfor %}
					</ul>
				</aside>
				<article>
					{% if page['Is in stock'] %}
						<span class="h2">ფასი</span>
						<!-- {% if page['Is in sale'] %}
							<div class="corner-ribbon relative">SALE</div>
						{% endif %} -->
						{% if page.price %}
							<div class="corner-ribbon price relative">
								<span class="new">{{ page.price }} ლარი</span>
								{% if page['Is in sale'] %}
									<span class="old">{{ page['old price'] }} ლარი</span>
								{% endif %}
							</div>
						{% endif %}
					{% else %}
						<span class="h2">მარაგი</span>
						<div class="corner-ribbon price red relative">{{ site['out of stock'] }}</div>
					{% endif %}

					<span class="h2">ბრენდი</span>
					<h1>{{ page.Brand }}</h1>
					<span class="h2">მოდელი</span>
					<h1>{{ page.title }}</h1>

					<div class="phone-meta">
						{% if page.content %}
							<span class="h2">აღწერა</span>
							<p>{{ page.content }}</p>
						{% endif %}

						{% if page.camera %}
							<span class="h2">კამერა</span>
							<p>{{ page.camera }}</p>
						{% endif %}

						{% if page['selfie camera'] %}
							<span class="h2">სელფის კამერა</span>
							<p>{{ page['selfie camera'] }}</p>
						{% endif %}
						{% if page.memory %}
							<span class="h2">მეხსიერება</span>
							<p>{{ page.memory }}</p>
						{% endif %}

						{% if page.processor %}
							<span class="h2">პროცესორი</span>
							<p>{{ page.processor }}</p>
						{% endif %}
						
						{% if page.ram %}
							<span class="h2">ოპერატიული მეხსიერება</span>
							<p>{{ page.ram }}</p>
						{% endif %}

						{% if page['screen type'] %}
							<span class="h2">ეკრანის ტიპი</span>
							<p>{{ page['screen type'] }}</p>
						{% endif %}

						{% if page['screen size'] %}
							<span class="h2">ეკრანის ზომა</span>
							<p>{{ page['screen size'] }}</p>
						{% endif %}
						
						{% if page.battery %}
							<span class="h2">ელემენტი</span>
							<p>{{ page.battery }}</p>
						{% endif %}

						{% if page.year %}
							<span class="h2">წელი</span>
							<p>{{ page.year }}</p>
						{% endif %}
					</div>

					{% if page['Is in stock'] %}
					<div class="installment {% unless site.credoId %}hidden{% endunless %}">
						<span class="h2">განვადება</span>
						<ul>
							<li class="credo"><img src="./assets/images/credo.jpg" alt=""></li>
						</ul>
						{% assign check = 
							page.id 
							| append: "," 
							| append: page.title 
							| append: ",1,"
							| append: page.price
							| append: ",1" 
						%}
						{% assign check = "6f1f453a1ec0adffedb5cf69fe10a038" | md5
						%}

						<form  action="https://ganvadeba.credo.ge/widget/" method="post" class="hidden"> 
							<input class="credoinstallment" type="hidden" name="credoinstallment" 
							value='{"merchantId":"{{ site.credoId }}", 
							"orderCode":"", 
							"check": "{{ check | md5 }}", 
							"products":[ 
							{"id":"{{ page.id }}", 
							"title": "{{ page.title }}", 
							"amount":"1", 
							"price": "{{ page.price }}00", 
							"type":"1"} 
							 ]
							}' /> 
							<input id="credoInstallmentSubmit"type="submit" value="go" /> 
						</form>
					</div>
					{% endif %}
				</article>
			</div>
		</section>
		<section class="phone-navigation">
			<div class="container">
				{% if page.previous %}
				<a title="Previous {{ page.previous.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
					<span class="h2">წინა</span>
					<h2>{{ page.previous.title }}</h2>
				</a>
				{% endif %}
				{% if page.next %}
				<a title="Next {{ page.next.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
					<span class="h2">შემდეგი</span>
					<h2>{{ page.next.title }}</h2>
				</a>
				{% endif %}
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
